<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Графики</title>
</head>
<body>
    <form action='http://127.0.0.1:5000/' method=get>
        <h2>Нечёткая логика</h2>
        <h3>Треугольное распределение</h3>
        <h3>Часы, проведённые Вами в Тарелке: {{hours}}</h3><br>
        <h3>Результат: {{result}}</h3>
        <h3>Степень принадлежности: {{mf}}</h3>
        <img src="data:image/png;base64, {{encoded}}">
        <input type=submit value='На главную'>
    </form>
</body>
</html>