<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Нечёткая логика</title>
    </head>
    <body>
        <div style="text-align: center; ">
            <h1>Оценка эффективности продаж</h1>
            <br>
             <form action='http://127.0.0.1:5000/triangular' method=get>
                <input type=submit value='Треугольное распределение'>
            </form>
            <br>
            <form action='http://127.0.0.1:5000/exp' method=get>
                <input type=submit value='Трапеция распределение'>
            </form>
        </div>
    </body>
</html>