<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дерево</title>
</head>
<body>
    <form action='http://127.0.0.1:5000/' method=get>
        <h1>Дерево решений</h1>
        <h2>Зависимость открытой цены от времени года</h2>
        <h2>Оценка модели: {{score}}</h2><br>
        <h3>X — цена открытия</h3>
        <h3>ENTROPY — это мера беспорядка. Энтропия измеряется в диапазоне от 0 до 1.</h3>
        <h3>Но в данном случае 4 класса, поэтому в этом наборе данных значение энтропии может оказаться больше 1.</h3>
        <h3>В любом случае это означает крайней высокий уровень беспорядка. </h3>
        <h3>SAMPLES — количество подходящих значений.</h3>
        <h3>VALUE = [winter, spring, summer, autumn] (вместо класса число, соответствующее ему)</h3>
        <img src="data:image/png;base64, {{encoded}}">
        <input type=submit value='На главную'>
    </form>
</body>
</html>