<html>
    <head>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div align="center">
            <h2>Кластеризация цены закратия и объёма методом k-средних</h2><br><br>
            <form action='/plot_clustering' method="GET">
                <h4>Выберите диапазон строк:</h4>
                <input type="number" size="5" name="str_from" min=0 max=5700 value=0>
                <input type="number" size="5" name="str_to" min=50 max=5745 value=5745>
                <h4>Выберите количество кластеров:</h4>
                <input type="number" size="5" name="cluster_count" min=2 max=10 value=3>
                <br><input type="submit" value="OK" size="20">
            </form>
            <form action='http://127.0.0.1:5000/dataframe' method=get>
                <input type=submit value='Справочник'>
            </form>
        </div>
    </body>
</html>